<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phoc">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_phoc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_phoc_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ExifActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".opening"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".logIn"
            android:exported="false"
            android:label="logIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signIn"
            android:exported="false"
            android:label="signIn"
            android:parentActivityName=".logIn" />
        <activity
            android:name=".signUp"
            android:exported="false"
            android:label="signUp"
            android:parentActivityName=".logIn" />
        <activity
            android:name=".main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gallery"
            android:exported="false"
            android:label=".Gallery"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Upload"
            android:exported="false"
            android:label=".Upload"
            android:parentActivityName=".Gallery"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>